/* Global Variables */
:root{
  --bg-color: #fff4e0;
  --dark-green: #94b49f;
  --light-green: #b4cfb0;
  --text-color: #4d5e5f;
  --main-border-radius: 20px;
}
/* Tags */
body {
  background: var(--bg-color);
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  text-decoration: none;
}

hr {
  width: 30vw;
  margin-bottom: 2rem;
}

li {
  list-style: none;
}

/* Grouped */
a, hr,
.copy, .lable, .lib-btn {
  color: var(--text-color);
}

hr,
.main-grid {
  justify-content: center;
}

.head,
.foot {
  background: var(--dark-green);
}

.search,
.side-bar {
  background: var(--light-green);
}

.next-btn, .prev-btn {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 58%;
  width: auto;
  margin-top: -3.2rem;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  z-index: 1;
}

.next-btn:hover, .prev-btn:hover{
  background: #b2e1d49f;
  border-radius: var(--main-border-radius);
}

/* Classes */

/* Header */

.head {
  align-items: center;
  box-shadow: 0 0 3px #000;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  height: 7rem;
  padding: 0.2rem;
  position: fixed;
  width: 100vw;
  z-index: 10;
}

.logo{
  max-width: 7rem;
}

.logo-img {
  width: 6rem;
}

.nav-btn{
  display: flex;
  max-width: 20vw;
  gap: 2rem;
  right: 10px;
}

.search {
  border: none;
  border-radius: 50px;
  height: 4vh;
  padding-left: 1.5rem;
  width: 30vw;
}

.top-nav-btn {
  background: var(--light-green);
  border-radius: var(--main-border-radius);
  border: none;
  box-shadow: 0 0 1px #000;
  color: var(--text-color);
  font-size: smaller;
  padding: .3rem .5rem;
  transition: 400ms ease;
}
.top-nav-btn:hover{
  background: var(--dark-green);
  border: 1px solid var(--text-color);
  color: #303a3b;
  cursor: pointer;
}


/* Gallery Classes */
.featured{
  margin-top: 17vh;
}

.feature-card {
  cursor: pointer;
  max-height: auto;
  width: 100%;
  overflow: hidden;
  position: absolute;
}
.gallery{
  height: 15rem;
  position: relative;
  margin: 0 auto;
  width: 30rem;
  overflow: hidden;
  scroll-behavior: smooth;
}

.gallery-img{
  left: 0;
  height: auto;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0; 
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.next-btn{
  right: -0;
}

.prev-btn{
  left: 0;
}

/* Main Body */
.games {
  grid-auto-flow: column;
  grid-gap: 1.3rem;
  grid-template-columns: repeat(11, calc(25% - 1.5rem)) 2fr;
  grid-template-rows: 1fr 1fr;
  padding: 1.5rem;
  width: 50vw;
  overflow-x: auto;
}

.game-card > a > img{
  border-radius: var(--main-border-radius);
  grid-column-end: auto;
  height:auto;
  width: 200px;
}

.grid-box {
  display: grid;
  position: relative;
}

.lable {
  justify-self: center;
  margin-top: 9vh;
}

.lib-btn{
  background: var(--light-green);
  border-radius: var(--main-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1/3;
  transition: 600ms ease;
  font-size: 1.15rem;
  font-weight: 500;
  padding: .5rem;
}

.lib-btn:hover{
  background-color: var(--dark-green);
  color:#30393a;
}

.recommend {
  margin-top: 2.5rem;
}

.rec-games {
  grid-template-columns: repeat(5, 1fr);
  gap: 3.14rem;
}

.rec-game-card > img {
  border-radius: var(--main-border-radius);
}
/* Side Navigation */
.fade {
  animation-duration: 2s;
}

.nav-item {
  font-size: 1.15rem;
  font-weight: 500;
  padding: .5rem;
  transition: 600ms ease;
}

.nav-item:hover{
  background-color: var(--dark-green);
  border-radius: 50px;
}

.nav-list {
  gap: 3.5rem;
  margin: 3.5rem 2.3rem 0 0;
  max-height: 100%;
}

.side-bar {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 0 3px #1d412f;
  grid-template-columns: 1fr;
  height: 57vh;
  text-align: center;
  position: fixed;
  margin: 15vh 0;
  width: auto;
  z-index: 10;
}

/* Footer */
.copy {
  font-size: small;
  margin-top: 2.2rem;
}

.foot {
  height: 3rem;
  margin-top: 6rem;
  padding-bottom: 3rem;
  position: absolute;
  width: 100%;
}
