body{
    background: #fff4e0;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

a{
    color: #4d5e5f;
    text-decoration: none;
}

hr{
    color: #5b5e5e;
    width: 30vw;
    margin-bottom: 2rem;
}

li{
    list-style: none;
}


.copy{
    align-self: center;
    color:#4d5e5f;
    font-size: small;
    margin-left: .5rem;
}

.foot{
    background: #94B49F;
    display: grid;
    height: 6rem;
    margin-top: 6rem;
    padding: .2rem;
    width: auto;
}

.games{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.grid-box{
    display: grid;
    justify-content: center;
}

.lable{
    color: #5b5e5e;
    justify-self: center;
    margin-top: 17vh;
}

.list-grid{
    display: grid;
    gap: 4.3rem;
    margin: 5rem 1.5rem;
}

.logo-img{
   margin-left: 1rem;
   width: 6rem;
}

.nav-btn{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-left: auto;
    padding-right: 1rem;;
}

.nav-grid{
    align-items: center;
    background: #94B49F;
    box-shadow: 0 0 3px #000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    height: 7rem;
    padding: .2rem;
    position: fixed;
    width: 100vw;
}

.recommend{
    display: grid;
    margin-top: -3rem;
}

.rec-games{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3.14rem;
}

.search{
    background: #b4cfb0;
    border: none;
    border-radius: 50px;
    height: 4vh;
    padding-left: 1.5rem;
    width: 30vw;
}

.side-bar{
    background: #b4cfb0;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0 0 3px #1d412f;
    display:grid;
    position: fixed;
    margin-top: 27vh;
    height: 55vh;
    width: 9vw;
}